/* Animation fr-ellipsis ------------------------------------------------- */
.fr-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 20px;

  div {
    position: absolute;
    top: 12px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);

    &:nth-child(1) {
      left: 6px;
      animation: fr-ellipsis1 0.6s infinite;
      -webkit-animation: fr-ellipsis1 0.6s infinite;
}

    &:nth-child(2) {
      left: 6px;
      animation: fr-ellipsis2 0.6s infinite;
      -webkit-animation: fr-ellipsis2 0.6s infinite;
}

    &:nth-child(3) {
      left: 26px;
      animation: fr-ellipsis2 0.6s infinite;
    }

    &:nth-child(4) {
      left: 45px;
      animation: fr-ellipsis3 0.6s infinite;
    }
  }
}

@keyframes fr-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fr-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes fr-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}