/* Form part ------------------------------------------------- */

@import 'variables', 'typography', 'reset', 'flex', 'scaffolding';

.fr-error {
  border: 3px solid $fr-red !important;
}

.fr-error-msg {
  font-size: 12px;
  text-align: right;
  position: absolute;
  color: $white;
  top: -20px;
  right: 5px;
}

input {
  &[type="text"],
  &[type="email"],
  &[type="tel"],
  &[type="password"] {
    width: 100%;
    border-radius: 0;
    font-family: $main-fontStyle;
    font-style: italic;
    font-size: 16px;
    padding: 18px;
    background: $white;
    outline: 0;
    transition: border .5s, background .5s;
    border: 4px solid $white;
    box-sizing: border-box;

    &:hover, &:focus, &:active {
      background: $white;
    }

    &::placeholder {
      color: $fr-light-grey;
    }
  }
}

select {
  display: block;
  font-family: $main-fontStyle;
  font-style: italic;
  font-size: 16px;
  border: 4px solid $white;
  border-radius: 0;
  outline: 0;
  width: 100%;
  padding: 18px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='black'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  background-color: $white;
  box-sizing: border-box;

  &:required:invalid {
    color: lighten($fr-light-grey, 20%);
  }

  option {
    color: $black;
  }
}

.fr-base-btn {
  width: auto;
  padding: 18px;
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;
  transition: all .4s;
  position: relative;
  vertical-align: middle;
  border: 0;
}

.fr-red-btn {
  width: 100%;
  background-color: $fr-red;
  font-family: $main-fontStyle;
  font-weight: 700;
  font-size: 20px;
  color: $white;
  border-radius: 5px;

  &:hover,
  &:active {
    background-color: lighten( $fr-red, 10% );
    color: $white;
  }
}


.fr-arrow-icon-right {
  display: inline-block;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='white'><polygon points='100,50 0,100 0,0'/></svg>") no-repeat;
  background-size: 6px;
  background-position: top center;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}
