/* Mixins part ------------------------------------------------- */

@mixin width-rule {
  width: 100%;
}

@mixin base-button{
  width: auto;
  padding: 18px;
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;
  transition: all .4s;
  position: relative;
  vertical-align: middle;
  border: 0; 
}